.project_details {
    padding: 1em;
    box-shadow: 8px 8px 100px rgb(57, 48, 48);
    background-color: rgb(230, 220, 220)
}

.project_details h1,
.project_details h2,
.project_details p {
    padding: 5px 5px 5px;
    margin-bottom: 0.5em;


}

.project_details h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    font-size: 22px;
    width: 80%;
}

.project_details h1:hover {
    background-color: #222;
    color: rgb(194, 127, 3);
    padding: 0.4em;
    font-size: 22px
}

.project_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {   
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    width: 100%;
    
}
.service_form_container h2 {   
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    font-size: 22px;
    width: 80%;
    
}

.service_form_container h2:hover {   
    background-color: #222;
    color: rgb(194, 127, 3);
    padding: 0.4em;
    font-size: 22px
}
    


.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 16px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 20px rgb(57, 48, 48);
    
}

.btn:hover {
    background-color: rgb(214, 146, 20);
    color: #fff;
    transition: .3s ease;
    transform: .10s;
    box-shadow: 3px 3px 20px rgb(62, 23, 23);
    border: 1px solid rgb(214, 146, 20);
    
}

.project_info {
    width: 100%;
}